back_end/src/BusinessLogicLayer/bin/Debug/net9.0/BusinessLogicLayer.dll
back_end/src/BusinessLogicLayer/bin/Debug/net9.0/BusinessLogicLayer.pdb
back_end/src/BusinessLogicLayer/bin/Debug/net9.0/DataAccessLayer.dll
back_end/src/BusinessLogicLayer/bin/Debug/net9.0/DataAccessLayer.pdb
back_end/src/BusinessLogicLayer/obj/Debug/net9.0/BusinessLogicLayer.AssemblyInfo.cs
back_end/src/BusinessLogicLayer/obj/Debug/net9.0/BusinessLogicLayer.AssemblyInfoInputs.cache
back_end/src/BusinessLogicLayer/obj/Debug/net9.0/BusinessLogicLayer.csproj.AssemblyReference.cache
back_end/src/BusinessLogicLayer/obj/Debug/net9.0/BusinessLogicLayer.dll
back_end/src/BusinessLogicLayer/obj/Debug/net9.0/BusinessLogicLayer.pdb
back_end/src/BusinessLogicLayer/obj/Debug/net9.0/BusinessLogicLayer.sourcelink.json
back_end/src/BusinessLogicLayer/obj/Debug/net9.0/ref/BusinessLogicLayer.dll
back_end/src/BusinessLogicLayer/obj/Debug/net9.0/refint/BusinessLogicLayer.dll
back_end/src/DataAccessLayer/bin/Debug/net9.0/DataAccessLayer.dll
back_end/src/DataAccessLayer/bin/Debug/net9.0/DataAccessLayer.pdb
back_end/src/DataAccessLayer/obj/Debug/net9.0/DataAccessLayer.AssemblyInfo.cs
back_end/src/DataAccessLayer/obj/Debug/net9.0/DataAccessLayer.AssemblyInfoInputs.cache
back_end/src/DataAccessLayer/obj/Debug/net9.0/DataAccessLayer.dll
back_end/src/DataAccessLayer/obj/Debug/net9.0/DataAccessLayer.pdb
back_end/src/DataAccessLayer/obj/Debug/net9.0/DataAccessLayer.sourcelink.json
back_end/src/DataAccessLayer/obj/Debug/net9.0/ref/DataAccessLayer.dll
back_end/src/DataAccessLayer/obj/Debug/net9.0/refint/DataAccessLayer.dll
back_end/src/PresentationLayer/bin/Debug/net9.0/appsettings.json
back_end/src/PresentationLayer/bin/Debug/net9.0/BusinessLogicLayer.dll
back_end/src/PresentationLayer/bin/Debug/net9.0/BusinessLogicLayer.pdb
back_end/src/PresentationLayer/bin/Debug/net9.0/DataAccessLayer.dll
back_end/src/PresentationLayer/bin/Debug/net9.0/DataAccessLayer.pdb
back_end/src/PresentationLayer/bin/Debug/net9.0/PresentationLayer.dll
back_end/src/PresentationLayer/bin/Debug/net9.0/PresentationLayer.exe
back_end/src/PresentationLayer/bin/Debug/net9.0/PresentationLayer.pdb
back_end/src/PresentationLayer/obj/Debug/net9.0/apphost.exe
back_end/src/PresentationLayer/obj/Debug/net9.0/PresentationLayer.AssemblyInfo.cs
back_end/src/PresentationLayer/obj/Debug/net9.0/PresentationLayer.AssemblyInfoInputs.cache
back_end/src/PresentationLayer/obj/Debug/net9.0/PresentationLayer.csproj.AssemblyReference.cache
back_end/src/PresentationLayer/obj/Debug/net9.0/PresentationLayer.dll
back_end/src/PresentationLayer/obj/Debug/net9.0/PresentationLayer.pdb
back_end/src/PresentationLayer/obj/Debug/net9.0/PresentationLayer.sourcelink.json
back_end/src/PresentationLayer/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
back_end/src/PresentationLayer/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
back_end/src/PresentationLayer/obj/Debug/net9.0/rpswa.dswa.cache.json
back_end/src/PresentationLayer/obj/Debug/net9.0/ref/PresentationLayer.dll
back_end/src/PresentationLayer/obj/Debug/net9.0/refint/PresentationLayer.dll
back_end/src/BusinessLogicLayer/obj/Debug/net9.0/BusinessLogicLayer.csproj.CoreCompileInputs.cache
back_end/src/DataAccessLayer/obj/Debug/net9.0/DataAccessLayer.csproj.CoreCompileInputs.cache
back_end/src/PresentationLayer/obj/Debug/net9.0/PresentationLayer.csproj.CoreCompileInputs.cache
