/* Reset/typography/base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global SDZ style */
body {
  @apply bg-gradient-to-br from-sdzDark via-indigo-900 to-sdzBlue text-slate-100 min-h-screen font-inter;
}
